<div class="container form-container" style="background-color: white;">
    <h2 class="form-title">Formulaire de Saisie</h2>
    <form [formGroup]="saisirForm" (ngSubmit)="saisirButton()">
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="form-group">
                    <label for="nom">Id</label>
                    <input type="text" class="form-control" id="id" formControlName="id" placeholder="Entrer la valeur">
                </div> -->
                <div class="form-group">
                    <label for="nom">NOM</label>
                    <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="montant_du_pret">MONTANT DU PRÊT</label>
                  <input type="text" class="form-control" id="montant_du_pret" formControlName="montant_du_pret" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="anciennete_avant_pret">ANCIENNETÉ AVANT PRÊT</label>
                    <input type="text" class="form-control" id="anciennete_avant_pret" formControlName="anciennete_avant_pret" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="age">ÂGE</label>
                    <input type="text" class="form-control" id="age" formControlName="age" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="nb_enfants">NOMBRE D’ENFANTS</label>
                    <input type="text" class="form-control" id="nb_enfants" formControlName="nb_enfants" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="montant_encours">MONTANT ENCOURS</label>
                    <input type="text" class="form-control" id="montant_encours" formControlName="montant_encours" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="nbr_credir">NOMBRE DE CREDIR</label>
                    <input type="text" class="form-control" id="nbr_credir" formControlName="nbr_credir" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="taux_interet">TAUX D’INTÉRÊT</label>
                    <input type="text" class="form-control" id="taux_interet" formControlName="taux_interet" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="revenu">REVENU</label>
                    <input type="text" class="form-control" id="revenu" formControlName="revenu" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="duree_pret">DURÉE DU PRÊT</label>
                    <input type="text" class="form-control" id="duree_pret" formControlName="duree_pret" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="montant_pret_annee">MONTANT PRÊT POUR L’ANNÉE</label>
                    <input type="text" class="form-control" id="montant_pret_annee" formControlName="montant_pret_annee" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="reste_vivre">RESTE À VIVRE</label>
                    <input type="text" class="form-control" id="reste_vivre" formControlName="reste_vivre" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="agence">AGENCE</label>
                    <input type="text" class="form-control" id="agence" formControlName="agence" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="genre">GENRE</label>
                    <input type="text" class="form-control" id="genre" formControlName="genre" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="secteur_activite">SECTEUR D’ACTIVITÉ</label>
                    <input type="text" class="form-control" id="secteur_activite" formControlName="secteur_activite" placeholder="Entrer la valeur">
                </div>
                <div class="form-group">
                    <label for="segment">SEGMENT</label>
                    <input type="text" class="form-control" id="segment" formControlName="segment" placeholder="Entrer la valeur">
                </div>
            </div>
        </div>
        <div class="form-actions text-end">
            <button type="submit" class="btn btn-predict">Predict</button>
        </div>
    </form>
</div>
