.container.form-container {
    max-width: 800px; /* Définir une largeur maximale pour le conteneur */
    padding: 20px;
    background-color: #f8f9fa; /* Fond blanc cassé */
    border-radius: 8px;
    margin: 0 auto; /* Centre le conteneur horizontalement */
}

.form-title {
    color: #1abc9c; /* Vert pour le titre */
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #1abc9c; /* Bordure verte */
    border-radius: 4px;
    padding: 10px;
}

.form-control:focus {
    border-color: #1abc9c; /* Bordure verte foncée lors du focus */
    box-shadow: none;
}

.form-legend {
    margin-top: 30px;
    text-align: center;
    color: #1abc9c; /* Vert pour la légende */
    font-size: 1rem;
}
