<div class="container form-container">
    <h2 class="form-title">Formulaire de Saisie</h2>
    <form>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field1">Champ 1</label>
                    <input type="text" class="form-control" id="field1" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field2">Champ 2</label>
                    <input type="text" class="form-control" id="field2" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field3">Champ 3</label>
                    <input type="text" class="form-control" id="field3" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field4">Champ 4</label>
                    <input type="text" class="form-control" id="field4" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field5">Champ 5</label>
                    <input type="text" class="form-control" id="field5" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field6">Champ 6</label>
                    <input type="text" class="form-control" id="field6" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field7">Champ 7</label>
                    <input type="text" class="form-control" id="field7" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field8">Champ 8</label>
                    <input type="text" class="form-control" id="field8" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field9">Champ 9</label>
                    <input type="text" class="form-control" id="field9" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field10">Champ 10</label>
                    <input type="text" class="form-control" id="field10" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field11">Champ 11</label>
                    <input type="text" class="form-control" id="field11" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field12">Champ 12</label>
                    <input type="text" class="form-control" id="field12" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field13">Champ 13</label>
                    <input type="text" class="form-control" id="field13" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field14">Champ 14</label>
                    <input type="text" class="form-control" id="field14" placeholder="Entrer la valeur">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="field15">Champ 15</label>
                    <input type="text" class="form-control" id="field15" placeholder="Entrer la valeur">
                </div>
            </div>
        </div>
        <div class="form-actions text-end">
            <button type="button" class="btn btn-predict">Predict</button>
        </div>
        <div class="form-legend">
            <p>Légende : Tous les champs sont obligatoires.</p>
        </div>
    </form>
</div>
