<div class="login-body p-0 m-0 vh-100">
    <div class="d-flex justify-content-center mt-5 scoring">
        <img src="images/bicici.jpg" width="3%" height="3%" alt="Logo" class="logo">
        <h1 class="title">SCORING CREDIT</h1>
    </div>
    <div class="container mt-4">
        <div class="wrapper">
            <div class="title"><span>Formulaire de connexion</span></div>
            <form [formGroup]="loginForm" (ngSubmit)="loginButton()">
                <div class="row">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </i>
                    <input type="text" name="username" id="username" formControlName="username" placeholder="Matricule">
                    <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error-message">
                        <div *ngIf="loginForm.get('username')?.errors?.['required']">Le champ matricule est requis.</div>
                    </div>
                </div>
                <div class="row">
                    <i class="mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                        </svg>
                    </i>
                    <input class="mt-2" name="password" type="password" id="password" formControlName="password" placeholder="Mot de passe">
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-message">
                        <div class="mb-2" *ngIf="loginForm.get('password')?.errors?.['required']">Le champ mot de passe est requis.</div>
                    </div>
                </div>
                <div class="pass mt-4"><a href="">Mot de passe oublié?</a></div>
                <div [ngClass]="{'button': loginForm.valid, 'button2': !loginForm.valid}" class="row">
                    <input type="submit" value="Login">
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                <div class="signup-link">Pas encore membre? <a href="#">Inscription</a></div>
            </form>
        </div>
    </div>
</div>
