
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Pour occuper toute la hauteur de la page */
    background-color: #f8f9fa; /* Couleur de fond blanc cassé */
    color: #1abc9c; /* Vert pour le texte */
}

.dashboard-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    border: 3px solid #1abc9c; /* Bordure verte */
    display: inline-block; /* Nécessaire pour que la bordure encadre uniquement le texte */
    border-radius: 8px; /* Coins arrondis */
}

.dashboard-button {
    background-color: #1abc9c; /* Vert pour les boutons */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.dashboard-button:hover {
    background-color: #1abc9c; /* Vert foncé au survol */
}

.file-label {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.file-label input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dashboard-button, .file-label {
    width: 200px; /* Ajustez la largeur pour qu'elle corresponde à celle du bouton SAISIR */
    text-align: center;
}
