
<div class="body container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="text-center">
        <div class="dashboard-title">
            TABLEAU DE BORD
        </div>
    </div>
    <div class="text-center d-flex">
        <button class="dashboard-button" routerLink="/saisir">SAISIR</button>
        <label class="dashboard-button file-label">
            <input type="file" (change)="onFileSelected($event)">
            Choisir un fichier
        </label>
    </div>
</div>  

