
<div class="body container d-flex flex-column justify-content-center align-items-center mt-5" style="background-color: white;">
    <div class="text-center">
        <div class="dashboard-title">
            TABLEAU DE BORD
        </div>
    </div>
    <div class="text-center d-flex">
        <button class="dashboard-button" routerLink="/saisir">SAISIR</button>
        <label class="dashboard-button file-label">
            <input type="file" (change)="onFileSelected($event)">
            Choisir un fichier
        </label>
    </div>
</div>  
<div class="mt-5">
    <table class="table table-bordered ms-5 me-5">
        <thead>
            <tr>
                <th scope="col">Année</th>
                <th scope="col">Nombre de crédit</th>
                <th scope="col">Bon</th>
                <th scope="col">Mauvais</th>
                <th scope="col">Rene à vivre</th>
                <th scope="col">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">2022</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2023</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2024</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        </table>
</div>


